:root{
    --first--color: #cda200;
    --second--color: #242424;
    --opacity--color: rgba(237, 191, 18, 0.9);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body{

    background: #fff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

main{
    flex-grow: 1;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-line{
    background: rgba(255, 255, 255, 0.8);
    padding: 17px 0;
}

.header__top-line .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation{
    margin: 0 auto 0 100px;

}

.logo{
    font-size: 24px;
    font-weight: 300;
    color: var(--second--color);
    text-decoration: none;
    text-transform: uppercase;
}

.logo__text span{
    font-size: 26px;
    color: var(--first--color);
}

.header__navigation-link{
    font-size: 16px;
    font-weight: 700;
    color: var(--second--color);
    margin-right: 18px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s linear;
}

.header__navigation-link:hover{
    border-bottom: 1px solid var(--second--color);
}

.header__navigation-link:last-child{
    margin-right: 0;
}

.features__title{
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;

}

.features__subtitle{
    font-size: 36px;
    color: var(--second--color);
    margin-bottom: 20px;

}

.features__text {
    font-size: 18px;
    line-height: 24px;
    color: var(--second--color);
    text-align: justify;
    padding: 0 50px;
}

.advantages{
    padding: 50px 0;
}

.advantages__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 0.5s linear;
}

.advantages__item:first-child {
    transform: translateX(250px);
}

.advantages__item:last-child{
    transform: translateX(-250px);
}

.advantages__item._active{
    opacity: 1;
    transform: translateX(0);
}


.advantages__img{
    width: 200px;
    height: 200px;
}

.advantages__title{
    font-size: 20px;
    color: var(--second--color);
    text-align: center;
    margin: 25px 0 25px;
}

.advantages__text{
    font-size: 16px;
    line-height: 26px;
    color: var(--second--color);
}


.footer__text{
    font-size: 16px;
    opacity: 0.5;
}

.footer__content{
    color: var(--first--color);
    background-color: var(--second--color);
}

.footer_list-contacts{
    list-style: none;
}

.footer__img-contact{
    height: 15px;
    width: 15px;
    color: var(--first--color);
}

.footer__content-controle{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer_list-contacts{
    display: flex;
}

.footer__img-contact{
    height: 40px;
    width: 25px;
}

.contact{
    display: flex;
    justify-content: center;
}

.contact__list{
    margin-top: 40px;
    padding: 30px 100px;
    background-color: rgba(255, 202, 0, 0.8);
    border-radius: 10px;
}

.contact__list_element{
    margin: 20px 0;
}

.contact__link{
    display: flex;
    text-align: center;
    align-items: center;
    color: #242424;
}

.contact__list{
    list-style: none;
}

.contact__img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact__link{
    text-decoration: none;
}

/*NEW*/
.full-screen-block{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen-block .form-box{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 201, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 12px 12px 11px 0px rgba(36, 36, 36, 0.23);
    -moz-box-shadow: 12px 12px 11px 0px rgba(36, 36, 36, 0.23);
    box-shadow: 12px 12px 11px 0px rgba(36, 36, 36, 0.23);
}

.form-value form h2{
    font-size: 2em;
    color: #242424;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #242424;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgba(36, 36, 36, 0.80);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -10px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 10px 5px;
}

.input-box input:-webkit-autofill, input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #242424;
    font-size: 1.2em;
}

.already_exists_link{
    color: #242424;
    text-align: center;
    margin-top: 7px;
}

.already_exists_link a{
    text-decoration: none;
    color: #242424;
}

.already_exists_link a:hover{
    text-decoration: underline;
    color: #242424;
}

.registration__button{
    width: 100%;
    height: 40px;
    background-color: #242424;
    color: #ffca00;
    border: none;
    transition: 0.5s;
}

.registration__button:hover{
    transform: translateY(-5px);
}

.header__enter-links{
    gap: 100px;
}

.header__enter-links a{

    text-decoration: none;
    color: #cda200;
}

/*Start changes*/

.assortment__grid{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.assortment__form_find {
    grid-row: 2;
    grid-column: 2;
    display: flex;
}

.assortment__form_filter{
    grid-row: 3;
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Danger zone*/

.assortment__form_filter label{
    flex-grow: 1;
}

.assortment__form_filter label input{
    display: none;
}

.assortment__form_filter label input + div{
    background-color: #ffca00;
    color: #242424;
    padding: 8px;
    text-align: center;
    border-bottom: 3px #ffca00 solid;
}

.assortment__form_filter label input:checked + div{
    border-bottom: 3px #242424 solid;
}


/*Danger zone*/


.assortment__grid input{
    flex-grow: 1;
    margin: 20px 10px;
    padding: 5px 10px;
    outline: none;
    background-color: #ffca00;
    color: #242424;
    font-size: 20px;
    border: #242424 1px solid;
}

.assortment__grid input::placeholder{
    color: #242424;
}

.assortment__grid h1{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.assortment__grid input[type='text']{
    flex-grow: 4;
}

.assortment__grid .block-pagination{
    grid-row: 5;
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.block-pagination nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.block-pagination nav ul li a, .block-pagination nav ul li span{
    text-decoration: none;
    color: #242424;
    background-color: #ffca00;
    font-size: 20px;
    padding: 5px 10px;
    border: #242424 1px solid;
}

.block-pagination nav ul li span{
    color: #ffca00;
    background-color: #242424;
    border: #ffca00 1px solid;
    cursor: pointer;
}

.block-pagination nav ul li a:hover{
    transition: 1s;
    color: #ffca00;
    background-color: #242424;
    border: #ffca00 1px solid;
}

.assortment__grid_element{
    grid-row: 4;
    grid-column: 2;
}

.assortment__grid_element ul{
    list-style: none;
}

.assortment__grid_card_view{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    margin: 20px 0;
    padding: 10px 10px;

    border-left: #ffca00 3px solid;
}
/*Grid start*/

/*Grid img*/
.assortment__grid_card_view img{
    width: 150px;
    height: 100px;

    grid-row-start: 2 span;
}

/*Grid name*/
.assortment__grid .name-item{
    grid-row: 1;
    grid-column: 2;
    text-align: start;
    font-size: 20px;
}

/*Grid price*/
.assortment__grid .price-item{
    grid-row: 2;
    grid-column: 2;
    text-align: start;
}

/*Grid links*/

.assortment__grid .about-item{
    text-decoration: none;
    color: #242424;
    background-color: #ffca00;
    font-size: 20px;
    padding: 5px 10px;
    border: #242424 1px solid;
}

.assortment__grid .about-item:hover, .assortment__grid form input[type="submit"]:hover{
    transition: 1s;
    color: #ffca00;
    background-color: #242424;
    border: #ffca00 1px solid;
}

.assortment__grid .about-item .first{
    grid-row: 0;
    grid-column: 3;
}

.assortment__grid .about-item .second{
    grid-row: 1;
    grid-column: 3;
}

.assortment__grid_list_element p{
    text-align: center;
}

.aboutProduct__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.aboutProduct__block img{
    width: 450px;
    height: 300px;

    -webkit-box-shadow: 15px 15px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 15px 15px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 8px 0px rgba(0, 0, 0, 0.2);

    border-radius: 5px;
}
.aboutProduct__block p{
    padding: 20px 10px;
    border: #242424 1px solid;
    background-color: #ffca00;
    margin: 20px;
    overflow-wrap: break-word;
    max-width: 500px;
}

.aboutProduct__block span{
    font-size: 26px;
    animation: border-animation 5s infinite linear;
}

.aboutProduct__block div{
    margin: 20px 0;
    gap: 20px;
}

.aboutProduct__block div a{
    text-decoration: none;
    color: #242424;
    background-color: #ffca00;
    font-size: 20px;
    padding: 5px 10px;
    border: #242424 1px solid;
}

.aboutProduct__block div a:hover{
    transition: 1s;
    color: #ffca00;
    background-color: #242424;
    border: #ffca00 1px solid;
}

@keyframes border-animation {
    0% {
        color: #ffca00;
    }
    50% {
        color: #242424;
    }
    60% {
        color: #ffca00;
    }
}

.shopping_cart h1{
    text-align: center;
    margin-bottom: 20px;
}

.shopping_cart table{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.shopping_cart table thead tr th{
    font-size: 20px;
}

.shopping_cart table tbody tr{
    padding: 20px 0;
}

.shopping_cart tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

.shopping_cart table tbody tr td{
    text-align: center;
}

.shopping_cart table tbody tr td ion-icon{
    color: #242424;
    width: 30px;
    height: 30px;
}

.shopping_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_cart div{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.shopping_cart div a{
    text-decoration: none;
    color: #242424;
    background-color: #ffca00;
    font-size: 20px;
    padding: 5px 10px;
    border: #242424 1px solid;
}

.shopping_cart div a:hover{
    transition: 1s;
    color: #ffca00;
    background-color: #242424;
    border: #ffca00 1px solid;
}

.success-order{
    text-align: center;
}

.success-order h2{
    font-size: 2em;
    text-align: center;
}

.success-order h3{
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}












